<div class="hide-for-small medium-2 columns">
  <img src="{{ user.image }}" width="100" height="100">
</div>

<div class="medium-8  columns">
  <p>Hi {{ user.displayName }}, you have
    <ng-pluralize count="user.credits"
      when="{'0': '{} pairing credit. Open up a few sessions to gain credit',
      'one': '{} pairing credit. Open up a few sessions to gain credit',
      'other': '{} pairing credits'}">
    </ng-pluralize>.
  </p>
  <p>There are currently {{ sessionStatus }} awaiting sessions.</p>
</div>

<div class="hide-for-small medium-2 columns">
  <img src="https://d29xw0ra2h4o4u.cloudfront.net/assets/logo-no-text-c541e8fe687af4afc7f70bf63381c4a8.png" height="100">
</div>


<div class="row">
  <div class="small-centered small-6 columns">
    <ul class="menu button-group" ng-show="isAuthenticated">
      <li><form action="/#/session/add"><button class="button">Open Session</button></form></li>
      <li><form action="/#/session/join"><button class="button" ng-disabled="!user.credits">Join Session</button></form></li>
    </ul>
  </div>
</div>
