<form ng-submit="addSession()">
  <input type="text" ng-model="description">
  <select ng-model="hour" id="hour">
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="13">1</option>
    <option value="14">2</option>
    <option value="15">3</option>
    <option value="16">4</option>
    <option value="17">5</option>
  </select>
  <select ng-model="minute" id="minute">
    <option value="0">00</option>
    <option value="15">15</option>
    <option value="30">30</option>
    <option value="45">45</option>
  </select>
  <span id="ampm" ampm>am</span>
  <input type="submit" value="LOL">
</form>
