<div class="large-12 columns">
  <form ng-submit="addSession()">
    <input type="text" ng-model="description" placeholder="Describe shortly what you will work on.">
    <p>
      <select ng-model="hour" id="hour" style="width: 60px;">
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">1</option>
        <option value="14">2</option>
        <option value="15">3</option>
        <option value="16">4</option>
        <option value="17">5</option>
      </select>
      <select ng-model="minute" id="minute" style="width: 60px">
        <option value="0">00</option>
        <option value="15">15</option>
        <option value="30">30</option>
        <option value="45">45</option>
      </select>
      <span id="ampm" ampm>am</span>
    </p>

    <p>
      <button type="submit">I'm ready to pair.</button>
    </p>
  </form>
</div>
